<div class="jumbotron">
    <h1>C# Web API Code Sample</h1>
    <p class="lead">A client needs a system designed to assist with dispatching fuel delivery trucks in the local area. All the fuel trucks have the same fixed capacity of fuel for delivery, and deliveries will usually drain between 5% and 17% of the total capacity. Unfortunately, the amount needed at each stop is unknown so a dispatcher is required to set the next stop on the fly or instruct the truck to return to base for refilling. The system will utilize three compnents to get the job done; an embedded system on the trucks, a desktop application for the dispatcher, and a Web service so the systems can communicate.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Embedded Truck System</h2>
        <p>The trucks embedded system only "knows" three things: current fuel level, current stop, and next stop. </p>
    </div>
    <div class="col-md-4">
        <h2>Dispatcher Desktop Application</h2>
        <p>The dispatcher desktop application allows the dispatcher to display trucks by operating region.</p>
    </div>
    <div class="col-md-4">
        <h2>Web Service</h2>
        <p>The Web Service allows a user to GET, POST, and PUT records to a SQL server via API.</p>
    </div>
</div>
